.newsletter-container {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.newsletter-container h1 {
  font-size: 15px;
  margin: 0;


}

.email-input {
  border-bottom: 2px solid lightgray;
}

.email-input-field, .subscribe-button {
  height: 50px;
}

.email-input-field {
  width: 300px;
  border: none;
}

.email-input-field:focus {
  outline: 0;
}

.subscribe-button {
  border: none;
  background-color: transparent;
}

/* select:focus,
input:focus {
  outline: 2px solid rgb(25, 135, 84);
} */


